Navbar:
1. The background color of the Navbar must be relevant to the primary/secondary color or any relevant color of the website (Assignment 11).
2. The background must take up the full width of the screen, regardless of size.
3. But the navbar content should be horizontally padded on both sides, and aligned with the rest of the page content for a consistent layout.
4. For logged in users, the Navbar should have at least 5 routes. And for logged out users, it should have at least 3 routes. After successful login, all the protected routes must be added to the Navbar or in a dropdown.
5. Navbar must be sticky or fixed to the top of the page while scrolling, and it must take up the whole width of the viewport as well.

Home Page:
6. The hero section should be clean and meaningful. If a slider is used, then all the images must be of the same ratio. Also the image quality should be good enough to not get pixelated on larger displays.
7. The height and width of each card in a section must be of the same size. The number of cards in each row should be well thought out and should look good. Each card should have a title, image, short description, “See more” button.
8. The landing page should have at least 7 relevant sections including Navbar and Footer. For example: Featured products, recent products, sales promotion, reviews, newsletter etc.

All Products Page:
9. All products should be showcased through cards.
10. In the All products page, all cards should be of the same size, well proportioned and there should be a sorting functionality (Example: Sort by ascending price, descending price) for displaying the products.

Others:
11. Every page should be completed. No half-baked components should be there. The entire project must not have any “Demo Text” or “Lorem” text.
12. The entire project must be responsive for Mobile, Tablet and Desktop.
13. The spacing between each section of the UI must be uniform.
14. The website must handle the user's system’s dark and light mode well. There should not be any text visibility issue or inconsistency due to the system’s setting.
15. In dark mode, background color and text color should not conflict with each other.
16. No “Unclickable” button/route/link should be present in the project.
17. The error page should be professional in design and should have a button to navigate to the home page.
18. Maximum 4 colors can be used in the entire project. 3 is preferred, but maximum 4 will be accepted.
19. All the cards should have the same border radius and be of the same size.
20. A maximum of two button types can be used in the application: outline buttons (with no background color, only a border) and filled buttons (with a background color). They must be used uniformly throughout the design.
21. Exception: You don’t have to worry about buttons in the sliders or carousels. They can be a bit different. But the color accent or style must not be irrelevant to the overall design of the UI.
22. Add an eye Smoothing 404 Page.
23. Add a spinner/loader while data is loading.
